body{
    margin: 0;
    height: 100%;
    background-color: blueviolet;
    background-image: url(../img/fondo5.jpg);
    background-repeat: no-repeat;
    background-position:top;
    background-size: cover;
}
nav{
    background-color: black;
    padding: 8px;
}
nav ul{
    list-style:none;
    margin: 0;
    padding: 0;
    display: flex;
   justify-content: center;
}
nav ul li{
    margin-right: 20px;
}
nav ul li a{
    display:inline-block;
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: blue;
}
nav ul li a:hover{
    color: yellow;
    background-color: rgb(250, 9, 9);
}
.titulo{
    color: blue;
    text-align: center;
}
